/* body specific settings */
body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:larger;
    transition: 0.5s;
  }

/* day-night toggle, adapted from https://bootsnipp.com/snippets/lGW9j  */
  body.night
  {
      background: #070f13;
  }
.toggle
  {
      position: absolute;
      top: 160px;
      right: 50px;
      background: #fff;
      border: 1px solid #00151f;
      width: 46px;
      height: 20px;
      cursor: pointer;
      border-radius: 20px;
      transition: 0.5s;
  }
  .toggle.active
  {
      background:#070f13;
      border: 1px solid #fff;
  }
  .toggle:before
  {
      content: '';
      position: absolute;
      top: 1px;
      left: 1px;
      width: 16px;
      height: 16px;
      background: #0c2a38;
      border-radius: 50%;
      transition: 0.5s;
  }
  .toggle.active:before
  {
      left: 27px;
      background: #fff;
  }

/* root params */
:root{
    /* height(s) of work cells */
    --first-row: 400px;
    --second-row: 200px;
    --third-row: 150px;
    /* inter-section spacing */
    --section-spacings: 50px; 
}


/* nav items */
#nav-img{
    background-image: url('/assets/images/02-hero-bg.jpg');
}
.navbar-brand{
    font-size: 39px;
    font-weight: 700;
}

nav .navbar-nav li a{
    color: rgba(234, 226, 226, 0.9)!important;
    font-weight: 600!important;
    outline-color: rgb(2, 16, 16)!important;
    font-size: 28px;
    border: 3px solid rgb(80, 106, 106,0.5);
    border-radius: 15px;
    background-color: rgb(131, 161, 161,0.733);
    }

/*styles for top-page navigation elements*/
nav ul > * {
    display: inline-flex;
    list-style-type: none;
    font-size: 18px;
    font-style:oblique;
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
    border: 3px rgb(154, 154, 154, 0.5) solid;
    padding: 5px;
    background-color: rgba(65, 77, 130, 0.733);
  }

/* common design */
.vert-line{
    border-left: 3px solid rgb(131, 161, 161);
}
/* jumbotron bg image */
#bg-clr{
    background-color:rgb(131, 161, 161);
}

/* jumbotron animated text */

.jumbotron >* span::before {
    content: "Developer";
    animation: animate infinite 3s;
    padding-left: 0px;
}

@keyframes animate {

    15% {
        content: "Engineer";
        padding-left: 40px;
    }

    45% {
        content: "Researcher";
        padding-left: 80px;
    }

    90% {
        content: "Developer";
        padding-left: 0px;
    }
}

/* work section: coding project ids */
#init-portfolio{
    background-image: url('../images/02-portfolio-1.jpg');
    background-size: cover;
    height: var(--second-row);
}
#refactor{
    background-image: url('../images/02-portfolio-4.jpg');
    background-size: cover;
    height: var(--second-row);
  }
#bio{
    background-image: url('../images/02-portfolio-3.jpg');
    background-size: contain;
    height: var(--third-row);
  }
#travelCalifornia{
    background-image: url('../images/hotel-california.PNG');
    background-size: contain;
    height: var(--first-row);
}  
#rocknroll{
    background-image: url('../images/rockOn.jpg');
    background-size: contain;
    height: var(--third-row);
}


#init-portfolio,
#refactor,
#bio,
#travelCalifornia,
#rocknroll {
  border: 3px solid rgb(131, 161, 161);
  cursor: pointer;
  opacity: 60%;
}

#init-portfolio:hover,
#refactor:hover,
#bio:hover,
#travelCalifornia:hover,
#rocknroll:hover {
  opacity: 1;
}

/*text box for work/coding-projects section*/
.code-box{
    position: relative;
    top: 50%; right: 3px;
    border: 3px solid rgb(109, 188, 188);
    max-height: 500px;
    width: 175px;
    background-color: rgb(205, 158, 111);
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
  }
#portfolio .code-box{
    top:75%;
  }

  /* stretch invisible membrane of work links over 
  full cell */
.invisibleLink {
    display: block;
    height: 100%; width: 100%;
}

/* skill section */
#skill{
    margin: 0px auto;
}

ul{
    list-style-type:disc;
}

.skill-subheading{
    padding-left: 50px;
    font-size: large;
    font-weight: 500;
    border: 3px solid rgb(170, 192, 192);
}

/* about me subsection */
#about-me-sub,
#contact-me-sub{
    margin-top: 25px;
}

.no-border-left{
    border-left: none;
}

.no-border-right{
    border-right: none;
}

/*hobby subsection: image insertions and style*/
.hobby-images{
    display: inline-block;
    vertical-align: top;
    padding-right: 30px;
    text-align: center;
  }
.circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top: 20px;
    margin-bottom: 10px;
    border: solid rgb(126, 177, 177) 3px;
    border-radius: 50%;
    width: 150px;
    height: 150px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.4);
  }

/* footer */
.footer{
    background-color: rgb(205, 188, 188);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

b{
    font-weight: 700;
}

/* spacing between all sections */
#hero,
#works,
#skill,
#CV
#about-me,
#contact-me{
    margin-bottom: var(--section-spacings);
}