/* nav items */
#nav-img{
    background-image: url('/assets/images/02-hero-bg.jpg');
}
.navbar-brand{
    font-size: 35px;
    font-weight: 600;
}
.nav-item{
    font-size: x-large;
    font-weight: 500;
}

/* common design */
.vert-line{
    border-left: 3px solid rgb(131, 161, 161);
}
/* jumbotron bg image */
#bg-clr{
    background-color:rgb(131, 161, 161);
}

/* jumbotron animated text */

.jumbotron >* span::before {
    content: "Developer";
    animation: animate infinite 3s;
    padding-left: 0px;
}

@keyframes animate {

    15% {
        content: "Engineer";
        padding-left: 40px;
    }

    45% {
        content: "Researcher";
        padding-left: 80px;
    }

    90% {
        content: "Developer";
        padding-left: 0px;
    }
}

/* skill section */

ul{
    list-style-type:disc;
}

.skill-subheading{
    padding-left: 50px;
    font-size: large;
    font-weight: 500;
    border: 3px solid rgb(170, 192, 192);
}

/* about me subsection */
#about-me{
    margin-top: 25px;
}

.no-border-left{
    border-left: none;
}

.no-border-right{
    border-right: none;
}

/*hobby subsection: image insertions and style*/
.hobby-images{
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    text-align: center;
  }
  .circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top: 20px;
    margin-bottom: 10px;
    border: solid rgb(126, 177, 177) 3px;
    border-radius: 50%;
    width: 150px;
    height: 150px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.4);
  }
  
/* contact-me subsection */
#contact-me{
    padding: 10px;
}
#contact-me-txt{
    padding-right: 20px;
}

/* footer */
.footer{
    background-color: rgb(205, 188, 188);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

b{
    font-weight: 700;
}