/* nav items */
#nav-img{
    background-image: url('/assets/images/02-hero-bg.jpg');
}

/* jumbotron bg imsage */
#bg-clr{
    background-color:rgb(131, 161, 161);
}

/* jumbotron animated text */

.jumbotron >* span::before {
    content: "Freelancer";
    animation: animate infinite 3s;
    padding-left: 0px;
}

@keyframes animate {

    15% {
        content: "Developer";
        padding-left: 40px;
    }

    45% {
        content: "Researcher";
        padding-left: 80px;
    }

    90% {
        content: "Freelancer";
        padding-left: 0px;
    }
}